'.text.html.basic, .text.html.nunjucks':
  'Back link':
    'leftLabel': 'GOV.UK'
    'description': 'Back link – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/back-link/'
    'prefix': 'govuk-back-link'
    'body': """
    {{ govukBackLink({
      text: "${1:Back}",
      href: "${2:#}"
    }) }}$3
    """
  'Breadcrumbs':
    'leftLabel': 'GOV.UK'
    'description': 'Breadcrumbs – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/breadcrumbs/'
    'prefix': 'govuk-breadcrumbs'
    'body': """
    {{ govukBreadcrumbs({
      items: [
        ${1:Use govuk-link-item snippet}
      ]
    }) }}$3
    """
  'Footer':
    'leftLabel': 'GOV.UK'
    'description': 'Footer – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/footer/'
    'prefix': 'govuk-footer'
    'body': """
    {{ govukFooter({}) }}$1
    """
  'Header':
    'leftLabel': 'GOV.UK'
    'description': 'Header – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/header/'
    'prefix': 'govuk-header'
    'body': """
    {{ govukHeader({
      homepageUrl: "${1:#}"
    }) }}$2
    """
  'Pagination':
    'leftLabel': 'GOV.UK'
    'description': 'Pagination – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/pagination/'
    'prefix': 'govuk-pagination'
    'body': """
    {{ govukPagination({
      previous: {
        href: "#"
      },
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#"
        },
        {
          number: 2,
          current: true,
          href: "#"
        },
        {
          number: 3,
          href: "#"
        }
      ]
    }) }}$1
    """
  'Previous/next':
    'leftLabel': 'GOV.UK'
    'description': 'Previous/next navigation – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/pagination/'
    'prefix': 'govuk-previous-next'
    'body': """
    {{ govukPagination({
      previous: {
        labelText: "1 of 3",
        href: "#"
      },
      next: {
        labelText: "3 of 3",
        href: "#"
      }
    }) }}$1
    """
  'Skip link':
    'leftLabel': 'GOV.UK'
    'description': 'Skip link – GOV.UK Design System'
    'descriptionMoreURL': 'https://design-system.service.gov.uk/components/skip-link/'
    'prefix': 'govuk-skip-link'
    'body': """
    {{ govukSkipLink({
      text: "Skip to main content",
      href: "#content"
    }) }}$1
    """
